{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p><small>by {{ post.author.username }} on {{ post.created_date|date:"M d, Y" }}</small></p>
<div>{{ post.content|linebreaks }}</div>
{% if user == post.author %}
  <a href="{% url 'post_update' post.pk %}" class="btn btn-outline-secondary">Edit</a>
  <a href="{% url 'post_delete' post.pk %}" class="btn btn-outline-danger">Delete</a>
{% endif %}
<a href="{% url 'post_list' %}" class="btn btn-link">Back to Posts</a>
{% endblock %} 